#form {
    max-width: 500px;
    float: right;
    margin-bottom: 50px;
}


.container {
    margin: 0px;
}


#topicGIFs {
    margin: 20px;
}


.gifDivs {
    margin: 10px;
}


#topicInput {
    width: 100%;
    margin-bottom: 20px;
}


.topicButtons {
    background-color: #27db90;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px grey;
    margin: 5px;
}

.topicButtons:hover {
    background-color: #18a56a;
    cursor: pointer;
}

.topicButtons:active {
    color: black;
    cursor: pointer;
}


#submitButton {
    background-color: #27db90;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px grey;
    padding: 0px 10px 0px 10px;
}

#submitButton:hover {
    background-color: #18a56a;
}

#submitButton:active {
    color: black;
}



@media screen and (max-width: 960px) {
    #form {
        max-width: 200px;

    }
}

@media screen and (max-width: 480px) {
    #form {
        float: none;
    }
}
